:root {
    --bs-body-color: #fff;
}

body {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.navbar-dark,
.navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-hover-color: rgba(255, 255, 255, 1);
}

.text-danger {
    color: #dc3545 !important;
}

.card,
.card-img-overlay,
.card-img,
.btn {
    border-radius: var(--bs-border-radius-xl) !important;
}

.card-title,
.card-body {
    color: var(--bs-white);
}

.card img,
.card-body img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.card-img-overlay {
    top: unset;
}

.w-fit-content {
    width: fit-content !important;
}

.card-img {
    height: 350px;
}

.hr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
    transform: rotate(90deg);
}

.img-hero {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: fill;
}

.img-player {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.img-logo {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.img-logo-pequeno {
    aspect-ratio: 16/9;
    object-fit: contain;
}

.w-9 {
    width: 9%;
}

.text-secondary {
    fill: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
}